<div class="bootstrap-css" id="notificationModalParent">
    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog p-2" role="document">
            <div class="modal-content" id="modal-content-cadastro-sucesso">
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-12 pt-2 pb-4 text-center">
                            <h3 id="notificationModalTitle" class="tit">{{titulo}}</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        {{#imagem}}
                            <div class="col-11 text-center my-3">
                                <img src="{{urls.medium}}" id="notificationModalImg"/>
                            </div>
                        {{/imagem}}
                        <div class="col-12 text-center">
                            {{{descricao}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: fixed;z-index: 111;bottom: 0;left: 0;width: 100%;padding: 0;margin: 0">
            <div class="col-12">
                <div class="text-center py-4">
                    <div data-dismiss="modal" class="btn btn-primary py-2 pl-4 pr-4 font-weight-bold">
                        fechar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>